node_modules
.history
packages/**/.history
yarn-error.log
libs-inspector-report

s3/**/*
!s3/angular
!s3/mobile-docs
!s3/mobile-docs/dont-delete
!s3/mobile-docs/dont-delete/config.yaml
.DS_Store
coverage
/.idea/dev-journeys.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
